body { overflow:hidden; }
#Cols-Box {
    display:flex; flex-direction:row; flex-wrap:nowrap;
}
#Left-Col {
    width:25%; padding:1.5rem;
}
#Centre-Col{
    width:50%; padding:1.5rem; background-color:#eee;
}
#Right-Col{
    width:25%; padding:1.5rem;
}
#Caption {
    border-top:1px solid white;
}
#Item-List{
    width:100%; height:calc(100vh - 10.5rem); background-color:#ddd;
    padding:1.5rem;
}
#Js-Methods-Box {
    height:calc(100vh - 6 * 1.5rem); width:calc(25vw - 3rem);
    overflow:auto; background-color:#eee; padding:1.5rem;
}
#Term-Box {
    width:calc(25vw - 3rem); height:calc(100vh - 7 * 1.5rem);
    background-color:#eee; position:fixed; right:1.5rem;
    bottom:1.5rem; padding-top:1.5rem;
}
.act-btn {
    cursor:pointer;
}
.act-btn:hover {
    background-color:yellow;
}
.add-met-btn {
    cursor:pointer;
}
.add-met-btn:hover {
    background-color:yellow;
}
#Js-Edit-Wrap {
    width:calc(50vw - 3rem); height:calc(100vh - 6 * 1.5rem); 
    position:fixed; left:calc(25vw + 1.5rem); bottom:1.5rem;
    background-color:#eee;
}
#Js-Edit {
    width:100%; height:calc(100vh - 7.5 * 1.5rem);
}
.CodeMirror-wrap {
    height:calc(100vh - 7.5 * 1.5rem) !important;
}
.CodeMirror-line * {
    font-family:monospace !important;
}
#Js-Close-Btn {
    float:right; height:1.5rem;
}
#Js-Save-Btn {
    margin-bottom:5px;
}
/* EOF */