body { overflow:hidden; }
#Cols-Box {
    display:flex; flex-direction:row; flex-wrap:nowrap;
}
#Left-Col {
    width:25%; padding:1.5rem;
}
#Centre-Col{
    width:50%; padding:1.5rem; background-color:#eee;
}
#Right-Col{
    width:25%; padding:1.5rem;
}
#Item-List{
    width:100%; height:calc(100vh - 10.5rem); background-color:#ddd;
    padding:1.5rem;
}
/* EOF */